//Big Text
.text-big{
  font-size: 40px;
}

//Image 16
.img-16{
  width: 16px;
  height: 16px;
}

//Image 32
.img-32{
  width: 32px;
  height: 32px;
}

//Image 64
.img-64{
  width: 64px;
  height: 64px;
}

//Image 120
.img-120{
  width: 120px;
  height: 120px;
}

//Display Block
.block{
  display: block;
}

//Container sm
.container-sm{
  max-width: 450px;
  width: 100%;
  margin: auto;
}

//Container xs
.container-xs{
  max-width: 300px;
  width: 100%;
  margin: auto;
}

//help-block
.help-block{
  color: #888;
}
//page header
.page-header{
  //form
  form{
    margin-left: 5px;
  }
}

//page center
.page-center{
  padding-top: 8%;
}

//page center 1
.page-center-1{
  padding-top: 1%;
}

//page center 2
.page-center-2{
  padding-top: 2%;
}

//page center 3
.page-center-3{
  padding-top: 3%;
}

//page center 4
.page-center-4{
  padding-top: 4%;
}
//page center 5
.page-center-5{
  padding-top: 5%;
}

//page center 6
.page-center-6{
  padding-top: 6%;
}

//page center 7
.page-center-7{
  padding-top: 7%;
}

//ground clear
.ground-clear{
  padding-bottom: 3%;
}
