/**
 *   Password Strength
 */
.password-strength{
  margin: 0;
  margin-top: 5px;
  height: 5px;
  box-shadow: none;
  border: none;
  display: none;
  //strength bar
  .strength-bar{   
        
  }
}
