//Dashboard Icon
.dashboard-icon{
	color: tomato !important;
}

//Course Icon
.course-icon{
	color: mediumpurple !important;
}

//Faculty Icon
.faculty-icon{
	color: limegreen !important;
}

//Student Icon
.student-icon{
	color: gold !important;
}

//Report Icon
.report-icon{
	color: cornflowerblue !important;
}