/**
 *   Modal
 */

//User Modal
.user-modal{
  //User Pic
  .user-pic{
    width: 200px;
    height: 200px;
    border: solid 1px #ddd;
    padding: 10px;
    border-radius: 50%;    
  }
  //Actions
  .actions{
    margin-top: 15px;
  }
}
