/**
 *   Navigation Icons
 */

//Home Icon
.home-icon{
  color: $brand-info !important;
}
//Subjects Icon
.subject-icon{
  color: #ff3d00 !important;
}
//Challenge Icon
.challenge-icon{
  color: deeppink !important;
}
//Achievements Icon
.achievement-icon{
  color: $brand-success !important;
}
//Friends Icon
.friend-icon{
  color: #9b27af !important;
}
//Calendar Icon
.history-icon{
  color: $brand-warning !important;
}
//Chart Icon
.ranking-icon{
  color: #ff5252 !important;
}
