/**
 *   Navigation
 */
//Nav Main
.nav-main{
  background: $nav-main-bg;
  width: $nav-main-width;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 1px 0px 0px rgba(255,255,255,0.1), inset -2px 0px 5px rgba(0,0,0,0.3);
  overflow: hidden;
  //Come In
  &.come-in{
    display: block !important;
  }
  //ul
  ul{
    margin: 0;
    padding: 0;
    //li
    li{
      margin: 0;
      padding: 0;
      //li.Active
      &.active{
        //a
        a{
          text-decoration: none;
          background: rgba(0,0,0,0.3);
        }
      }
      //a
      a{
        display: block;
        padding: 15px 15px;
        margin: 15px 0;
        font-size: $nav-main-font-size;
        text-align: center;
        line-height: 1.3;
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        //Logo, Org
        &.logo, &.organization{
          margin:0;
          padding: 15px;
          //img
          img{
            width: 40px;
          }
        }
        //a:Hover
        &:hover, &:focus{
          text-decoration: none;
          background: rgba(0,0,0,0.3);
          outline: none;
        }
      }
      .count {
        background: #fff;
        color: tomato;
        padding: 1px 6px;
        border-radius: 2px;
        font-weight: bold;
        position: absolute;
        margin-top: 60%;
        margin-left: 60%;
      }
    }
  }
}
