/**
 *   Sidebar
 */
//Sidebar
.sidebar{
  background: $sidebar-bg;
  width: $sidebar-width;
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  bottom: 0;
  //Come In
  &.come-in{
    display: block !important;
  }  
}
