/**
 *   Variables
 */

/**
 *   Nav Main
 */
//Width
$nav-main-width: 70px;
//Font Size
$nav-main-font-size: 25px;
//Nav Main Color
$nav-main-bg: darken($body-bg, 20%);

/**
 *   Sidebar
 */

//Sidebar Width
$sidebar-width: 210px;
//Sidebar Background Color
$sidebar-bg: darken($body-bg, 12%);